# Ignore all video and archive files
*.MP4
*.mp4
*.MOV
*.mov
*.AVI
*.avi
*.mkv
*.tar.gz
*.zip
*.gz

# Ignore detection logs and large CSVs
*.csv
*.log

# Ignore temporary files
__pycache__/
*.pyc
*.pyo
*.tmp
*.swp
